<main
  style="text-align: center; font-family: Arial, sans-serif; background-color: #f0f0f0; padding: 20px;"
>
  <h1 style="color: #333; margin-bottom: 10px;">
    {{name}}</h1>
  <h2 style="color: #666; font-size: 1.2em;">{{edad}}</h2>
</main>